body {
    background-image: url("../images/cartooncollage.jpg");
    background-color: black;
    color: blue;
    font-weight: bold;
    font-size: 25px;
}
button, div, form, input {
    margin: 10px;
}

form {
    background-color: black;
}

h1 {
    background-color: black;
}

.cartoon {
    background-color: black;
    border: 2px solid red;
    text-align: center;
}

img {
    padding: 20px;
    width: 100%;
    height: auto;
}

.give-me-something {
    border: 2px solid white;
}
